# Milestone 1 # 
Import data into dataframe (and preliminary cleaning)

In [48]:
import pandas as pd
import numpy as np

part_df = pd.read_csv("../../data/data_raw/part_data.csv")

In [15]:
df = part_df.drop(columns = ['NationalITy', 'PlaceofBirth', 'GradeID', 'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction'])
df = df.dropna(axis = 0)
df

,gender,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,Class
0,M,lowerlevel,15,16,2,20,Under-7,M
1,M,lowerlevel,20,20,3,25,Under-7,M
2,M,lowerlevel,10,7,0,30,Above-7,L
3,M,lowerlevel,30,25,5,35,Above-7,L
4,M,lowerlevel,40,50,12,50,Above-7,M
...,...,...,...,...,...,...,...,...
475,F,MiddleSchool,5,4,5,8,Above-7,L
476,F,MiddleSchool,50,77,14,28,Under-7,M
477,F,MiddleSchool,55,74,25,29,Under-7,M
478,F,MiddleSchool,30,17,14,57,Above-7,L
479,F,MiddleSchool,35,14,23,62,Above-7,L

# Milestone 2 #
## Task 3 - Data Wrangling ##

In [46]:
def load_process_data(path_to_csv):

    # Method Chain 1 (load data, drop columns, and address missing data)

    df2 = (
        pd.read_csv(path_to_csv)
        .drop(columns = ['NationalITy', 'PlaceofBirth', 'GradeID', 'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction'])
        .dropna(axis = 0, thresh = 3)
        .rename(columns={"StageID":"grade_level", "raisedhands":"hands", "VisITedResources": "num_resource", "AnnouncementsView" : "announce", "Discussion":"discuss","StudentAbsenceDays":"absent", "Class":"final_grade"})
    )
    df2


    # Method Chain 2 (create new sum column and ??)

    df3 = (df2
       .assign(interaction_sum = lambda row: row.hands + row.num_resource + row.announce + row.discuss)
          )
    df3
    
    return df3

The remainder of the lab is completed in file "Milestone2B".